@import "tailwindcss";

:root {
  --background: #f7f9fc;
  --foreground: #0b1020;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top right,
      rgba(255, 115, 0, 0.12),
      transparent 25%),
    radial-gradient(circle at bottom left,
      rgba(37, 99, 235, 0.08),
      transparent 30%),
    #f7f9fc;

  color: #0b1020;
  overflow-x: hidden;
  font-family: var(--font-cairo);
}

::selection {
  background: #ff6b00;
  color: white;
}

.container-custom {
  width: 100%;
  max-width: 1350px;
  margin-inline: auto;
  padding-inline: 24px;
}